<h1>what we got so far</h1>

<ul id="days">
  <% @days.each do |day| %>
    <li><%= day.day %></li>
  <% end %>
</ul>

<ul id="times">
  <% @times.each do |time| %>
    <li><%= time.time %></li>
  <% end %>
</ul>
